<form action="/cart" method="POST">
    <!-- <a href="/products/<%= prod.id%>" class="btn">Details</a> -->
    <input type="hidden" name="id" value="<%= prod.id%>" />
    <button class="btn" type="submit">Add to Cart</button>
</form>